/* typefaces to consider: 
General: Inter, Rubik, Fira Sans, Roboto, Karla
Text to code: Source Serif Pro, Eczar, Roboto Slab, PT Serif, Neuton, Raleway, Karla
*/


/* add color palette */
:root {
    --dark-blue: #006bae;
    --blue: #47d5ff;
    --light-blue: #e2f8ff;
    --orange: #ff9e80;
    --text-grey: #606060;
}

body {
    background: var(--light-blue);
}

header {
    margin: 2vw;
}

h1 {
    margin-block: 0;
    font-family: "Rubik";
    color: var(--dark-blue);
    font-size: 4vw;
}

h2 {
    font-family: "Rubik";
    margin-block: 0;
    font-size: 3vw;
    color: white;
}

h3 {
    font-family: "Rubik";
    margin-block: 0;
    font-size: 2vw;
    color: var(--blue);
}

p {
    font-family: "Roboto Slab";
    font-size: 1.5vw;
    line-height: 1.8;
    color: var(--text-grey);
}

button, input {
    font-family: "Rubik";
    font-size: 1vw;
}

label {
    margin-right: 1vw;
    color: var(--orange);
}

.container {
    display: block;
}

    .row {
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .column {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
    }

.card { /* Credit for much of the card CSS (including hover): https://codepen.io/sdthornton/pen/wBZdXq */
    max-height: 50vw;
    max-width: 60vw;
    margin: 2vw;
    border-radius: .5vw;
    background: white;
    box-shadow: 0 .25vw .75vw rgba(0,0,0,0.12), 0 .25vw .5vw rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

    .card:hover {
        box-shadow: 0 1.75vw 3.5vw rgba(0,0,0,0.25), 0 1.25vw 1.25vw rgba(0,0,0,0.22);
    }

    .card-header, .card-body {
        display: flex;
        padding: 2vw;
    }

    .card-header {
        background: var(--blue);
    }

        .card-header-thumbnail {
            font-size: 3vw;
            margin-right: 1vw;
            color: var(--orange);
        }

    .card-body {
        background: white;
    }

        .card-body-item {
            margin: 2vw 0;
            display: block;
        }

.text {
    max-height: 100%;
    height: fit-content;
    }

.codes {
    padding: 1vw;
    position:fixed;
    height: 100%;
    width: 33vw;
    top: 8vw;
    right: 0;
}

    .codes h2 {
        color: var(--orange);
    }

    .codes-item {
        display: block;
        margin: 1vw;
    }