/* typefaces to consider: 
General: Inter, Rubik, Fira Sans, Roboto, Karla
Text to code: Source Serif Pro, Eczar, Roboto Slab, PT Serif, Neuton, Raleway, Karla
*/

.block {
    display: block;
}

#display_qual {
    font-family: "Roboto Slab";
    font-size: 14px;
    line-height: 20px;
    font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Rubik";
}

h1 {
    font-size: 98px;
}

h2 {
    font-size: 61px;
}

h3 {
    font-size: 49px;
}

h4 {
    font-size: 35px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 20px;
}

body {
    font-family: "Fira Sans";
    font-size: 16px;
}

button, input {
    font-family: "Rubik";
    font-size: 14px;
}
