<!DOCTYPE html>

<html lang="en">
    <head>

        <title>Qual Coder</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Normalize CSS -->
        <link href="/static/normalize.css" rel="stylesheet">

        <!-- Material design links -->
        <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Round">  

        <!-- Main stylesheet and fonts -->
        <link href="/static/styles.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rubik&family=Fira+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@150" rel="stylesheet">

    </head>

    <body>
        <header>
            <h1>Qualitative Data Coder</h1>
        </header>

        <div class="container">

            <section class="card text">
                <div class="card-header">
                    <span class="card-header-thumbnail material-icons-round">
                        segment
                    </span>
                    <h2 class="card-header-title" name="display_id">ID: {{ display_data["id"] }}</h2>
                </div>
                <div class="card-body" name="display_qual">
                    <p> {% autoescape false %}
                            {{ display_data["text"] }}
                        {% endautoescape %}
                    </p>
                </div>
            </section>

            <section class="codes" name="display_codes">
                <h3>Qualitative Codes</h3>
                
                <form name="code_form" action="/code" method="post">
                    {% for code in codes %}
                    <span class="codes-item">
                        <input type="checkbox" name= "{{ code }}" {% if display_data[code] == '1' %} checked {% endif %}>
                        <label for="{{ code }}">{{ code }}</label>  
                    </span>  
                    {% endfor %}
                    <input type="submit" name="back" value="Back">
                    <input type="submit" name="next" value="Next">
                            
                </form>
            </section>
    
            <div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class = "flashes">
                                {% for message in messages %}
                                <li>{{ message }}</li>
                                {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>

        </div>
        
    </body>
</html>