<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="/static/styles.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rubik&family=Fira+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@150" rel="stylesheet">
        <!-- Source Serif Pro, Eczar, Roboto Slab, PT Serif, Neuton, Raleway, Karla -->
        <title>Qual Coder</title>
    </head>

    <body>

        <header>
            <h2>Qualitative Data Coder</h2>
        </header>

        <div id="display_id" name="display_id">
            <p>{{ display_data["id"] }}</p>
        </div>
        <div id="display_qual" name="display_qual">
            <p>{{ display_data["text"] }}</p>
        </div>
        <div id="display_codes" name="display_codes">
            <form name="code_form" action="/code" method="post">
                {% for code in codes %}
                <label for="{{ code }}" class="block">
                    <input type="checkbox" name= "{{ code }}" {% if display_data[code] == '1' %} checked {% endif %}>
                    {{ code }}
                </label>
                {% endfor %}
                <input type="submit" name="back" value="Back">
                <input type="submit" name="next" value="Next">
                
            </form>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class = "flashes">
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        
    </body>
</html>