<!DOCTYPE html>

<html lang="en">
    <head>

        <title>Qual Coder</title>

        <!-- Normalize CSS -->
        <link href="/static/normalize.css" rel="stylesheet">

        <!-- Material design links -->
        <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Round">  

        <!-- Main stylesheet and fonts -->
        <link href="/static/styles.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rubik&family=Fira+Sans" rel="stylesheet">
        
    </head>

    <body>

        <header>
            <h1>Qualitative Data Coder</h1>
        </header>

        <div class="container">
            <div class="row">
                <section class="column card">
                    <div class="card-header">
                        <span class="card-header-thumbnail material-icons-round">
                            file_upload
                        </span>
                        <h2 class="card-header-title">Upload</h2>
                    </div>
                    <div class="card-body">
                        <form name="upload" action="/" method="post" enctype="multipart/form-data">
                            
                            <span class="card-body-item">
                                <label for="upload_data">Data</label>
                                <input type="file" name="upload_data" id="upload_data" />
                            </span>

                            <span class="card-body-item">
                                <label for="upload_codes">Qualitative Codes</label>
                                <input type="file" name="upload_codes" id="upload_codes" />
                            </span>

                            <input type="submit" name="submit_data" class="card-body-submit" />
                            
                        </form>
                    </div>
                </section>

                <section class="column card">
                    <div class="card-header">
                        <span class="card-header-thumbnail material-icons-round">
                            check
                        </span>
                        <h2 class="card-header-title">Code</h2>
                    </div>
                    <div class="card-body">
                        <form name="select_data" action="/" method="post" autocomplete="off">

                            <span class="card-body-item">
                                <label for="select_table">Select Data </label>
                                <input name="select_table" list="tables" />
                                <datalist id="tables">
                                    {% for table in tables %}
                                        <option value='{{ table }}'>
                                    {% endfor %}
                                </datalist>
                            </span>
                            
                            <input type="submit" name="code_data" class="card-body-item">

                        </form>
                    </div>
                </section>
            </div>

        </div>
            
        
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class = "flashes">
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </body>
</html>