<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="/static/styles.css" rel="stylesheet">
        <title>Qual Coder</title>
    </head>

    <body>
        <h1>Upload Data</h1>
        <form name="upload" action="/" method="post" enctype="multipart/form-data">
            <label for="upload_data" class="block">
                Choose Data<input type="file" name="upload_data">
            </label>
            <label for="upload_codes" class="block">
                Choose Codes<input type="file" name="upload_codes">
            </label>
            <input type="submit" name="submit_data">
        </form>

        <h1>Code Data</h1>
        <h2>Select Data</h2>
        <form name="select_data" action="/" method="post" autocomplete="off">
            <label for="select_table">
                <input name="select_table" list="tables">
            </label>
            <datalist id="tables">
                {% for table in tables %}
                    <option value='{{ table }}'>
                {% endfor %}
            </datalist>
            <input type="submit" name="code_data">
        </form>
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class = "flashes">
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </body>
</html>